.monument {
    margin-top: 70px;
    line-height: 1.5em;
    
    h1 {
        margin-bottom: 10px;
    }
    
    &_card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 30px;
        
        a {
            color: green;
            
            &:hover {
                color: #000;
                transition: .5s;
            }
        }
        
        h3 {
            margin-bottom: 20px;
        }
        
        img {
            width: 150px;
        }
        
        &-item {
            margin-bottom: 30px;
            
            &:hover {
                border-bottom: 1px solid grey;
            }
        }
    }
}