.title_mobile {
  display: none;
  font-family: 'Forum', cursive;
  font-size: 25px; }

.title {
  margin-top: 80px; }

.title_flex {
  display: flex;
  height: auto;
  justify-content: space-between; }
  .title_flex-main {
    width: 515px; }
    .title_flex-main h1 {
      font-family: 'Forum', cursive;
      font-size: 33px; }
    .title_flex-main p {
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 1.3em; }
  .title_flex-stock img {
    width: 400px; }

.main {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-template-areas: "m c"; }
  .main_info-menu {
    height: 300px;
    grid-area: m;
    border-right: 1px solid #C4C4C4; }
    .main_info-menu-title {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px; }
      .main_info-menu-title .subdivision {
        text-transform: none;
        font-weight: normal;
        margin-top: 10px; }
      .main_info-menu-title img {
        width: 25px; }
    .main_info-menu li {
      line-height: 1.5em; }
      .main_info-menu li a {
        color: black; }
      .main_info-menu li a:hover {
        color: green;
        transition: .5s; }
  .main_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas: "t t t t" "ma mb mc md" "me mf mg mh" "mi mj mk ml" "rm rm rm rm" "tt tt tt tt" "pa pb pc pd" "pe pf pg ph" "rmp rmp rmp rmp"; }
    .main_info-card {
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #C4C4C4; }
      .main_info-card img {
        width: 150px; }
      .main_info-card a {
        color: green; }
      .main_info-card .article {
        position: relative;
        margin-bottom: -10px;
        margin-left: -150px;
        font-size: 10px;
        color: grey; }
      .main_info-card h5 {
        font-size: 13px; }
      .main_info-card p {
        font-size: 12px; }
    .main_info-title {
      grid-area: t;
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px; }
      .main_info-title span {
        font-size: 16px; }
    .main_info-title-two {
      margin-top: 50px;
      grid-area: tt;
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px; }
      .main_info-title-two span {
        font-size: 16px; }
    .main_info .monumet_more {
      grid-area: rm;
      text-align: center; }
      .main_info .monumet_more a:hover {
        color: green;
        transition: .5s; }
    .main_info .monumet_more-two {
      grid-area: rmp;
      text-align: center; }
      .main_info .monumet_more-two a:hover {
        color: green;
        transition: .5s; }
    .main_info a {
      color: green; }

.company {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 70px; }
  .company h2 {
    margin-bottom: 30px;
    text-align: center; }
  .company_icon {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px; }
    .company_icon-card img {
      width: 100px; }
    .company_icon-card p {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600; }
  .company_info {
    text-align: left; }
    .company_info h1 {
      margin-bottom: 10px;
      font-family: 'Forum', cursive;
      font-size: 25px; }
    .company_info p {
      line-height: 1.6em;
      padding-bottom: 10px; }
      .company_info p span {
        font-weight: bold; }
    .company_info img {
      float: right;
      width: 250px; }
  .company #bay,
  .company #setting,
  .company #sale {
    text-align: left;
    padding-top: 70px; }
    .company #bay h2,
    .company #setting h2,
    .company #sale h2 {
      text-align: left;
      margin-bottom: 10px; }
    .company #bay p,
    .company #setting p,
    .company #sale p {
      line-height: 1.6em;
      padding-bottom: 10px; }
      .company #bay p span,
      .company #setting p span,
      .company #sale p span {
        font-weight: bold; }
    .company #bay img,
    .company #setting img,
    .company #sale img {
      float: left;
      width: 250px;
      margin-right: 10px; }
  .company #setting img {
    float: right; }

footer {
  padding: 20px 0;
  width: 100%;
  background: #343941; }
  footer .contact {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    color: #fff; }
    footer .contact_maps {
      margin-right: 30px; }
    footer .contact iframe {
      width: 830px;
      height: 400px; }
    footer .contact_info h3 {
      margin-bottom: 20px; }
    footer .contact_info img {
      width: 17px;
      margin-bottom: -2px;
      margin-right: 5px; }
    footer .contact_info p {
      padding-bottom: 10px; }
      footer .contact_info p a {
        color: #fff; }
  footer .copy {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 10px;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
